{% extends "base.html" %}
{% block content %}
<h1>Concepts</h1>

<div class="grid-row grid-gap">
	<div class="tablet:grid-col-6">

		<h2>Create a Concept</h2>

		<hk-form prevent-default msg-submitting='Creating the "${pref_label}" concept...' msg-success='The "${pref_label}" concept was added.' target='[data-hk-list="concepts"]'>
			<form class="usa-form" method="post" action="/concept">
				<label class="usa-label" for="pref_label">Preferred Label</label>
				<input class="usa-input" id="pref_label" name="pref_label" type="text" required>
				<button class="usa-button">
					Create Concept
				</button>
			</form>
		</hk-form>

		<p class="padding-top-3"><em>When you're done, <a href="/conceptscheme">click here to create or update a scheme</a>.</em></p>

	</div>
	<div class="tablet:grid-col-6" data-hk-list="concepts">

		<h2 class="padding-top-3 tablet:padding-top-0">Your Concepts</h2>

		{% if concepts | length > 0 %}
			<ul>
			{% for concept in concepts %}
				<li><a href="/concept/{{concept.id_suffix}}">{{concept.pref_label}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>You don't have any concepts yet.</p>
		{% endif %}

	</div>
</div>
{% endblock %}