{% extends "base.html" %}
{% block title %}Search Concepts | {% endblock %}
{% block content %}
<h1>Search Concepts</h1>

<hk-combo-box key="search-box">
  <label class="usa-label" for="search" id="search-label">Text input label</label>
  <input class="usa-input" id="search" name="search" hx-post="/concepts-search" hx-trigger="input changed delay:500ms, search" hx-target="#search-list">
  <ul tabindex="-1" id="search-list" class="usa-combo-box__list" role="listbox" aria-labelledby="search-label">
    {% for r in results %}
      <li class="usa-combo-box__list-option" tabindex="-1" role="option" data-value="{{r.id_}}">{{r.pl}}</li>
    {% endfor %}
  </ul>
</hk-combo-box>


{% endblock %}