{% extends "base.html" %}
{% block content %}
<h1>HelioKOS</h1>
<p>A knowledge organization system (KOS) service for Heliophysics.</p>

<div class="grid-row grid-gap-sm">
	<div class="tablet:grid-col-6 margin-bottom-3">
		<div class="usa-card__container">
			<div class="usa-card__body">
				<h2 class="margin-top-0">Step 1: Create a Concept</h2>
				<p>Start by creating one or more concepts.</p>

				<hk-form prevent-default msg-submitting='Creating the "${pref_label}" concept...' msg-success='The "${pref_label}" concept was added.' target='[data-hk-list="concepts"]' onsuccess="console.log('hello!');">
					<form class="usa-form" method="post" action="/concept">
						<label class="usa-label" for="pref_label">Preferred Label</label>
						<input class="usa-input" id="pref_label" name="pref_label" type="text" required>
						<button class="usa-button">
							Create Concept
						</button>
					</form>
				</hk-form>
			</div>
		</div>
	</div>
	<div class="tablet:grid-col-6 margin-bottom-3">
		<div class="usa-card__container">
			<div class="usa-card__body">
				<h2 class="margin-top-5 tablet:margin-top-0">Step 2: Create a Scheme</h2>
				<p>Next, create a new scheme.</p>

				<hk-form msg-submitting="Creating a new scheme...">
					<form class="usa-form" method="post" action="/conceptscheme">
						<button class="usa-button">
							Create Concept Scheme
						</button>
					</form>
				</hk-form>
			</div>
		</div>

	</div>
</div>

<div class="grid-row grid-gap">
	<div class="tablet:grid-col-6 margin-bottom-3" data-hk-list="concepts">

		<h2>Your Concepts</h2>

		{% if concepts | length > 0 %}
			<ul>
			{% for concept in concepts %}
				<li><a href="/concept/{{concept.id_suffix}}">{{concept.pref_label}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>You don't have any concepts yet.</p>
		{% endif %}

	</div>
	<div class="tablet:grid-col-6 margin-bottom-3" data-hk-list="schemes">

		<h2>Your Schemes</h2>

		{% if schemes | length > 0 %}
			<ul>
			{% for scheme in schemes %}
				<li><a href="/conceptscheme/{{scheme.id_suffix}}">{{scheme.id}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>You don't have any schemes yet.</p>
		{% endif %}

	</div>
</div>

{% endblock %}