{% extends "base.html" %}
{% block title %}Schemes | {% endblock %}
{% block content %}
<h1>Schemes</h1>

<div class="grid-row grid-gap">
	<div class="tablet:grid-col-6">

		<h2 class="margin-bottom-0">Create a Scheme</h2>

		<hk-form msg-submitting="Creating a new scheme...">
			<form class="usa-form" method="post" action="/conceptscheme">
				<button class="usa-button">
					Create Concept Scheme
				</button>
			</form>
		</hk-form>

	</div>
	<div class="tablet:grid-col-6" data-hk-list="schemes">

		<h2 class="padding-top-3 tablet:padding-top-0">Your Schemes</h2>

		{% if schemes | length > 0 %}
			<ul>
			{% for scheme in schemes %}
				<li><a href="/conceptscheme/{{scheme.uri}}">{{scheme.label}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>You don't have any schemes yet.</p>
		{% endif %}

	</div>
</div>
{% endblock %}