/**
 * Make sure footer is always at bottom of viewport
 */
main {
	min-height: 65vh;
}


/**
 * Grid overrides
 */

.grid-row-reverse {
	flex-direction: row-reverse;
}


/**
 * Schema UI
 */
/*dl,
dd {
	margin: 0;
	padding: 0;
}*/

dd {
	margin-bottom: 1.5rem;
}

dt {
	font-weight: bold;
}


/**
 * Form notifications
 */

[role="status"] {
	font-style: italic;
	padding-top: 1rem;
}